<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwFlxGYPh9lkj_hvq4DhI72k2b8YV3xdA</string>
	<key>GCM_SENDER_ID</key>
	<string>957799988864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.earnForAll</string>
	<key>PROJECT_ID</key>
	<string>earn-for-all-6d227</string>
	<key>STORAGE_BUCKET</key>
	<string>earn-for-all-6d227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957799988864:ios:ee184ec1d131a73d84b065</string>
</dict>
</plist>